In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv("employee.csv")

### read first 5 rows

In [ ]:
# display first 5rows
df.head()

In [ ]:
# display lst 5 rows
df.tail(5)

In [ ]:
df.head(20)

In [ ]:
# display all the column names
df.columns

In [ ]:
# dsiplay information about dataframe
df.info()

In [ ]:
# display datatypes
df.dtypes

In [ ]:
# describe datafarme
df.describe()   # dsiplay numerical columns

In [ ]:
df.describe(include='all')

In [ ]:
#df.iloc[rows,columns]    # displaying required rows and columns
df.iloc[5:10]     #rows--> 5:10

In [ ]:
df.iloc[5:10,4:6]

In [44]:
output = df.iloc[5:10,4:6]
output.to_csv("processed.csv")

In [49]:
# display only one column
df['workclass']        #in sql ... select workclass from tablename

In [56]:
df[['age','workclass','education']]

       age          workclass    education
0       39          State-gov    Bachelors
1       50   Self-emp-not-inc    Bachelors
2       38            Private      HS-grad
3       53            Private         11th
4       28            Private    Bachelors
...    ...                ...          ...
32556   27            Private   Assoc-acdm
32557   40            Private      HS-grad
32558   58            Private      HS-grad
32559   22            Private      HS-grad
32560   52       Self-emp-inc      HS-grad

[32561 rows x 3 columns]

In [ ]:
df['workclass'].unique()   # display unique workclasses

array([' State-gov', ' Self-emp-not-inc', ' Private', ' Federal-gov',
       ' Local-gov', ' ?', ' Self-emp-inc', ' Without-pay',
       ' Never-worked'], dtype=object)

In [59]:
df['workclass'].nunique()

9

In [62]:
df['workclass'].str.strip().unique()

array(['State-gov', 'Self-emp-not-inc', 'Private', 'Federal-gov',
       'Local-gov', '?', 'Self-emp-inc', 'Without-pay', 'Never-worked'],
      dtype=object)